<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Most Liked Fossils</title>
  </head>
    <h1>Welcome {{ name }}</h1>
  <body>

     {% for key, fossils in MOST_LIKED_FOSSILS %}
    <div class="fossil-div">
      <h3>{{ fossils.name }}</h3>
      <h2>Liked {{ fossils.num_likes }} times.</h2>
      <img src="{{ fossils.img }}" />
    </div>
          {% endfor %}

    <form action="/like-fossil" method="post">
      <label for="likeFossil">Select a fossil</label>
      <select name='selectedFossil'>
        {% for key, fossil in MOST_LIKED_FOSSILS %}
        <option value="{{ key }}">{{ fossil.name }}</option>
        <option id="aust">Australopithecus</option>
        <option id="quetz">Quetzal</option>
        <option id="steg">Stegosaurus</option>
        <option id="trex">Tyrannosaurus Rex</option>
      </select>
      <br><br>
      <input type="submit" value="Like 👍">
    </form>
  </body>
</html>
